
<html>
    <head>  
    </head>
    <body>
        
        <form class="modal-content" action="">
            <div class="container">
              <h1>Delete</h1>
              <p>Are you sure you want to Delete?</p>
        
              <div class="clearfix">
                <button type="button"[mat-dialog-close]="false" class="cancelbtn">No</button>
            
                <button type="submit" [mat-dialog-close]="true" class="deletebtn"> Yes</button>
              </div>
            </div>
          </form>
        <script src="" async defer></script>
    </body>
</html>
